<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../public/css/estilos.css">
    <script src="https://kit.fontawesome.com/c273467a6c.js" crossorigin="anonymous"></script>
    <script defer src="../public/js/movil.js"></script>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <figure class="figure">
                <img src="../public/img/carwashbrown.png" alt="imagen lavado de auto" class="logo">
            </figure>
            <button class="navbar-movil" aria-label="abrir menu"><i class="fa-solid fa-bars"></i></button>
            <ul class="navlista">
                <li class="navitem"><a class="navlink navlink-active" href="../index.html"><i class="fa-solid fa-house icon"></i>Inicio</a></li>
                <li class="navitem"><a class="navlink navlink-active" href="../views/turno.html"><i class="fa-solid fa-car icon"></i>Solicitar Turno </a></li>
                <li class="navitem"><a class="navlink navlink-active" href="../views/about.html"><i class="fa-solid fa-users icon"></i>Acerca de nosotros</a></li>
                <li class="navitem"><a class="navlink navlink-active" href="../views/contact.html"><i class="fa-regular fa-address-book icon"></i>Contacto</a></li>
                <li class="navitem"><a class="navlink navlink-active" href="../views/login.html"><i class="fa-solid fa-lock icon"></i>Login</a></li>
            </ul>
        </nav>
    </header>

<main class="principal">
        <section class="contenedor-about">
            <h1 class="titulo"> N o s o t r o s</h1>
            <article class="contenedor-imagen-descripcion">
                <h2 class="titulo-about"> Somos una empresa lider en el Mercado</h2>
                <figure class="figure-about-inicio">
                    <img class="imagen-about-nosotros" src="../public/img/nosotros.png" alt="Nosotros">
                </figure>
                <p class="descripcion-about">somo una empresa lider en mercado de lavado de Autos de alta gama, ya sea de que sea unos pequeños rasguños, por el uso diario o suciedad que va quedando con el paso del tiempo, nosotros lo limpiamos a la perfección con nuestro personal altamente capacitado para el trabajo. Su automóvil personal, camioneta todo terreno, auto SUV familiar, nos encargamos de la estética y cuidado de su auto con detalle y utilizando los mejores productos del mercado.<br>
                    La pasión por los automóviles nos ha conducido a dar lo mejor, en cada uno de nuestros servicios, y la satisfacción cuando los clientes ven su vehículo después del servicio con una gran sonrisa y alegria.</p>        
            </article>

            <h2 class="titulo-about"> Servicios que Brindamos</h2>
            <article class="contenedor-imagen-servicios">
                <div class="card-img-about" >
                    <figure class="figure-about" >
                        <img class="img-about"   src="../public/img/interior.png" alt="interior">
                        <h2 class="titulo-servicio-about">interior</h2>
                    </figure>    
                </div>
                <div class="card-img-about">
                    <figure class="figure-about">
                        <img class="img-about" src="../public/img/lavado.png" alt="lavado">
                        <h2 class="titulo-servicio-about">Lavado</h2>
                    </figure>    
                </div>
                <div class="card-img-about">
                    <figure class="figure-about">
                        <img class="img-about" src="../public/img/encerado.png" alt="encerado">
                        <h2 class="titulo-servicio-about">Encerado</h2>
                    </figure>        
                </div>
            </article>
        </section>        
    </main>
        <footer class="footer">
        <p> Copyright@2024 - Grupo11 todos los Derechos reservados</p>
        <div>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-regular fa-envelope"></i></a>
            <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </footer>
</body>
</html>