<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>turno</title>
    <link rel="stylesheet" href="../public/css/estilos.css">
    <script src="https://kit.fontawesome.com/c273467a6c.js" crossorigin="anonymous"></script>
    <script defer src="../public/js/movil.js"></script>
    <script defer src="../public/js/formTurno.js"></script>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <figure class="figure">
                <img src="../public/img/carwashbrown.png" alt="imagen lavado de auto" class="logo">
            </figure>
            <button class="navbar-movil" aria-label="abrir menu"><i class="fa-solid fa-bars"></i></button>
            <ul class="navlista">
                <li class="navitem"><a class="navlink navlink-active" href="../index.html"><i class="fa-solid fa-house icon"></i>Inicio</a></li>
                <li class="navitem"><a class="navlink navlink-active" href="../views/turno.html"><i class="fa-solid fa-car icon"></i>Solicitar Turno </a></li>
                <li class="navitem"><a class="navlink navlink-active" href="../views/about.html"><i class="fa-solid fa-users icon"></i>Acerca de nosotros</a></li>
                <li class="navitem"><a class="navlink navlink-active" href="../views/contact.html"><i class="fa-regular fa-address-book icon"></i>Contacto</a></li>
                <li class="navitem"><a class="navlink navlink-active" href="../views/login.html"><i class="fa-solid fa-lock icon"></i>Login</a></li>
            </ul>
        </nav>
    </header>

    <main class="principal">  
        <section class="contenedor-turno">
            <h1 class="titulo"> Sistema de Reservas de Turnos</h1>
            <form class="form-turno" id="form-turno" name="form-turno" method="post"> 
                <fieldset class="form-grupo">
                    <legend class="legend"> <strong>Datos personales : </strong> </legend>
                    <label for="dni" class="label">Documento: </label>
                    <input type="text" class="box-turno" name="dni" id="dni" required placeholder="Ingrese numero Documento "><br>
                    <label for="nombre" class="label">Apellidos y Nombres: </label>
                    <input type="text" class="box-turno" name="nombre" id="nombre"  placeholder="Ingrese apellidos y nombres.."><br>
                    <label for="email" class="label">Email: </label> 
                    <input type="email" id="email" class="email box-turno" name="email"  placeholder="Ingrese su email."><br>
                    <p class="text-danger d-none text-justify text-wrap mensaje-email" ></p>
                    <label for="telefono" class="label">telefono: </label>
                    <input type="tel" id="telefono" class="box-turno" name="telefono" placeholder="Ingrese su numero telefono."><br>
                </fieldset>

                <fieldset class="form-grupo">
                        <legend class="legend"> <strong> Datos del vehiculo :</strong></legend>                                
                        <label  class="label" for="tiposervicio"> Tipo de vehiculo:</label>
                        <select  name="tipo-vehiculo"  id="tipo-vehiculo" class="box-turno">
                            <option value="" >Selecciones tipo de Vehiculo</option>
                        </select><br>    
                        <label for="patente" class="label" >Patente: </label>
                        <input type="text" id="patente" class="box-turno" name="patente" placeholder="Ingrese su pantente del vehiculo."><br>
                        <label for="descripcion" class="label">Descripcion del Vehiculo: </label>
                        <input type="text" id="descripcion" class="box-turno" name="descripcion" placeholder="Ingrese descripcion marca/modelo etc."><br>
                        <label for="fecha" class="label">fecha de Reserva:</label>
                        <input type="date" class="box-turno" name="fecha" id="fecha" ><br> 
                        <label for="hora" class="label">Hora de Reserva: </label>
                        <input type="time" class="box-turno" name="hora" id="hora" ><br>
                </fieldset>

                <article class="contenedor-table">
                    <h2 class="titulo-turno-table"> <strong>Seleccione los tipos de servicios</strong> </h2>
                    <p class="mensaje-parrafo-table"> Antes seleccione el tipo de vehiculo por favor..</p>    
                    <table class="tableUs">
                        <thead class="theadUs">    
                            <tr class="trUs">
                                <th class="thUs">#</th>
                                <th class="thUs">Seleccione</th>
                                <th class="thUs">Tipo de Servicio</th>
                                <th class="thUs">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="trUs">
                                <td class="tdUs"><input hidden type="text" id="id">1</td>
                                <td class="tdUs"><input  type="checkbox" class="tipo-servicio" name="tipo-servicio[]" id="tipo-servicio" ></td>
                                <td class="tdUs"><input hidden type="text" name="descripcionTipoServicio" id="descripcionTipoServicio" class="descripcionTipoServicio" value="lavado">Lavado</td>
                                <td class="tdUs"><input hidden type="text" name="precio" id="precio" class="precio" value="3000" >3000.00</td>
                            </tr>
                            <tr class="trUs">
                                <td class="tdUs"><input hidden type="text"  id="id">2</td>
                                <td class="tdUs"><input  type="checkbox" class="tipo-servicio" name="tipo-servicio[]" id="tipo-servicio"></td>
                                <td class="tdUs"><input hidden type="text" name="descripcionTipoServicio" id="descripcionTipoServicio" class="descripcionTipoServicio" value="encerado">Encerado</td>
                                <td class="tdUs"><input hidden type="text" name="precio" id="precio" class="precio" value="4000">4000.00</td>
                            </tr>
                            <tr class="trUs">
                                <td class="tdUs"><input hidden type="text" hidden id="id">3</td>
                                <td class="tdUs"><input  type="checkbox" class="tipo-servicio" name="tipo-servicio[]" id="tipo-servicio"></td>
                                <td class="tdUs"><input hidden type="text" name="descripcionTipoServicio" id="descripcionTipoServicio" class="descripcionTipoServicio" value="interior">Interior</td>
                                <td class="tdUs"><input hidden type="text" name="precio" id="precio" class="precio" value="2000">2000.00</td>
                            </tr>
                            <tr class="trUs">
                                <td class="tdUs"><input hidden type="text" hidden id="id">4</td>
                                <td class="tdUs"><input  type="checkbox" class="tipo-servicio" name="tipo-servicio[]" id="tipo-servicio"></td>
                                <td class="tdUs"><input hidden type="text" name="descripcionTipoServicio" id="descripcionTipoServicio" class="descripcionTipoServicio" value="motor">Motor</td>
                                <td class="tdUs"><input hidden type="text" name="precio" id="precio" class="precio" value="5000">5000.00</td>
                            </tr>
                            <tr class="trUs">
                                <td class="tdUs"><input hidden type="text" hidden id="id">5</td>
                                <td class="tdUs"><input  type="checkbox" class="tipo-servicio" name="tipo-servicio[]" id="tipo-servicios"></td>
                                <td class="tdUs"><input hidden type="text" name="descripcionTipoServicio" id="descripcionTipoServicio" class="descripcionTipoServicio" value="siliconado">Siliconado Motor</td>
                                <td class="tdUs"><input hidden type="text" name="precio" id="precio" class="precio" value="4500">4500.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="boton-turno">Generar Turno de Reservas </button>
                    <p class="alert alert-success d-none mensaje-valido "></p>
                </article>
            </form> 
        </section>
    </main>
    <footer class="footer">
        <p> Copyright@2024 - Grupo11 todos los Derechos reservados</p>
        <div>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-regular fa-envelope"></i></a>
            <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </footer>
</body>
</html>